$blue:#5dbbdf;
$pink:#f8a5ce;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

* {box-sizing:border-box;border:0;margin:0;padding:0;}

body {
	background:#EFEDEB;
	/*display:flex;
	justify-content:center;
	align-items:center;*/
	font-family:'Montserrat',sans-serif;
}

section {
	width:41em;
	height:22em;
	color:#777;
	background-color:#fff;
	margin:20% auto 0 auto;
	border-radius:0.4em;
	border-top-right-radius:0.37em;
	border-bottom-right-radius:0.37em;
	box-shadow:0 0 3px rgba(0,0,0,0.15);
	transition:box-shadow 200ms ease-in;
	
	article {
		padding:1.6em 2em 2em 14em;
		
		h1 {
			color:#777;
			font-size:2.5em;
			letter-spacing:1px;
			text-transform:uppercase;
		}

		h2 {
			color:#ccc;
			font-size:1.2em;
			margin-top:0.2em;
			text-transform:uppercase;
		}
		
		hr {
			height:2px;
			background:#eee;
			margin:1em 0;
			width:85%;
		}
		
		pre {
			font-family:'Ubuntu Mono',monospace;
			margin:1em 0;
			
			span {
				color:$pink;
				font-weight:700;
			}
			
			a {
				color:$blue;
				font-weight:700;
				text-decoration:none;
			}
		}
		
		p {
			font-family:'Montserrat'!important;
			margin:0.5em 0;
			
			a {
				text-decoration:none;
				color:#777;
				transition:100ms ease-in;
				&:hover {color:#555;}
			}
			
			&:before {
				font-family:'icomoon';
				padding-right:0.5em;
				position:relative;
				top:2px;
				color:$blue;
			}
			
		}
		
	}
	
	&:before {
		content:'';
		background:url(https://farm3.staticflickr.com/2910/14552539284_fc9daf99af_o.png);
		background-position:77% 70%;
		width:12em;
		height:22em;
		display:block;
		position:absolute;
		border-top-left-radius:0.37em;
		border-bottom-left-radius:0.37em;
		transition:200ms ease-in;
	}
	
	&:after {
		content:'';
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAaCAMAAABigZc2AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFpJREFUeNp9jUEOwEAIAhn+/+imjbs1bC0XzQioSUAAYZs0mcVY051RbGXfFsyxibTVHXhuhXYlbuRGPbe7kz3g0wf679OuizDBdCaberLE4AsjGliD02eNugA+MQFAPqynHQAAAABJRU5ErkJggg==);
		width:18px;
		height:26px;
		position:relative;
		float:right;
		margin:-3.1em 1.6em 0 0;
		display:block;
		opacity:0.25;
	}
		
	&:hover {
		cursor:move;
		//margin-top:-1em;
		box-shadow:0 2px 5px rgba(0,0,0,0.15);
		&:before {background-position:77% 60%;}
	}
	
}

.placeholder {
	width:40.5em;
	height:21.5em;
	z-index:-100;
	margin:0 auto;
	margin-top:-21.5em;
	border-radius:1em;
	border:4px dashed #ddd;
}
