@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:800');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Lets set some standards, k?

// Function Declarations
@function font($to, $from, $toWidth, $fromWidth) {
	$slope: ($to - $from) / ($toWidth - $fromWidth);
	$base: $from - $slope * $fromWidth;

	@return calc(#{$base} + #{100vw * $slope});
}
@function setcolor($pallet, $type) {
    @return map-get(map-get($pallets, $pallet), $type);
}

// colors
$green: #afd33d;
$red: #D23131;
$text: #121212;
$bg: #FFFFFF;
$pallets: (
  main: (
    bg: $bg, // white
  	fg: $text // black
  ),
	p1: (
		bg: #dff263, // manz
		fg: #3b156d // scarlet gum
	),
	p2: (
		bg: #c1d0d2, // Tiara
		fg: #321f6c // Meteorite
	),
	p3: (
		bg: #d0e0e9, // Botticelli
		fg: #ea584a // Burnt Sienna
	),
	p4: (
		bg: #e3dfdc, // Westar
		fg: #360a5d // Violent violet
	),
	p5: (
		bg: #83afb3, // Gulf Stream
		fg: #360a5d // Violent violet
	),
	p6: (
		bg: #d8e1dd, // Nebula
		fg: #4f3d5b // Mulled Wine
	)
	,
	p7: (
		bg: #a4be22, // Citron
		fg: #4e3d59 // Mulled Wine
	),
	p8: (
		bg: #d7c8cc, // Cold Turkey
		fg: #49314d // Voodoo
	),
	hllwn: (
		bg: #462206, // --
		fg: #c55103 // Burnt Orange
	)
);
$instagradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$colors: (primary: $green, accent: $red, text: $text, background: $bg);
$links:(twitter: #1DA1F2, dribbble: #EA4C89, codepen: #000, instagram: #E4405F, vsco: #000, github: #181717);
$social: map-keys($links);
$primary-accent: map-get($colors, primary);
$secondary-accent: map-get($colors, accent);
$near: 225ms;
$far: 375ms;
$vfar: 600ms;
$baseFont: font(24px, 12px, 1920px, 320px);
$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$material-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-in: cubic-bezier(0.4, 0.0, 1, 1);
$ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
$transition: (
	bounce: $bounce,
	material: $material-curve,
	e-in: $ease-in,
 	e-out: $ease-out
);
$space: unquote(' ');
$images:(1075, 1081, 1053, 1044, 1045, 1021, 873, 868, 737);
$uurl: unquote('https://unsplash.it/1920/1080?image=')+nth($images, random(length($images)));
$unsplash: url('#{$uurl}');
$emblem: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/396624/LTM__logo.svg');
$me: url('https://secure.gravatar.com/avatar/e2a5b810db87d57c68e4712d8e9a6e00?size=500');

// Mixin Declarations
@mixin transition($t: all, $d: $near, $i: $material-curve) {
	transition: $t $d $i;
}
@mixin background($img: null, $p: center, $s: cover, $r: no-repeat, $a: scroll, $c: #ccc) {
	@if ($img) {
		background-image:$img;
		background-size: $s;
		background-repeat: $r;
		background-position: $p;
		background-attachment: $a;
	}
	background-color: $c;
}
@mixin constants() {
	h1, h2, h3, h4, h5, h6, p {
		position: relative;
		margin-top: 0;
		color: map-get($colors, text);
	}
	h1, h2, h3 {
		font-family: 'Montserrat', Roboto, Sans-serif;
		letter-spacing: -0.035em;
		line-height: 0.75;
		text-transform: uppercase;
		margin-bottom: 0.5em;
		font-weight: 800;
	}
	h4, h5, h6 {
		font-family: 'Inconsolata', monospace;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0.5em;
		i {
			font-size: .8em !important;
			display: inline-block !important;
			vertical-align: baseline;
		}
		& + & {
			color: rgba(map-get($colors, text), .54);
			margin-top: -0.7em;
			font-size: 1.5em;
		}
	}
	@for $e from 1 through 6 {
		$reduce: $e / 2;
		$size: 5em - $reduce;
		h#{$e} {
			font-size: $size;
		}
	}
	p {
		font-size: 1.1em;
		line-height: 1.5;
		font-family: 'Inconsolata', monospace;
		padding: 0 0.3em;
		text-align: justify;
		a {
			&:hover {
				color: darken($primary-accent, 20%);
				border-bottom: 1px dotted darken($primary-accent, 20%);
			}
			&:visited {
				color: darken($secondary-accent, 10%);
				border: 1px dotted darken($secondary-accent, 10%);
			}
		}
	}
	a {
		cursor: pointer;
		position: relative;
		display: inline-block;
		vertical-align: baseline;
		text-decoration: none;
		line-height: 1;
		font-family: 'Inconsolata', monospace;
		color: darken($primary-accent, 10%);
		@include transition;
		&::selection {
			color: #fff;
			background: $green;
		}
	}
}
@mixin emblem($s: 4em) {
	.ltm-emblem {
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: $s;
		height: 0;
		padding-bottom: $s;
		opacity: 0.07;
		margin: 0.3em 0.3em 2em 0.3em;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: $emblem;
			background-position: center bottom;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&.invert {
			mix-blend-mode: difference;
		}
	}
	.custom-svg {
		svg {
			@include transition;
			fill:$text;
		}
	}
}
@mixin theme($pallet, $dir: normal) {
	@if $dir == inverted {
		color: setcolor($pallet, bg);
		background-color: setcolor($pallet, fg);
	}
	@if $dir == normal {
		color: setcolor($pallet, fg);
		background-color: setcolor($pallet, bg);	
	}
}

/// --  doc body
html, body {
	width: 100%;
	height: 100%;
	font-size: $baseFont;
	@include theme(main);
	&.theme1 {
		@include theme(main, inverted);
		h1, h2, h3, h4, h5, h6, p,
		.about .copy-container .social-outbound ul li a {
			color: setcolor(main, bg);
			svg {
				fill: setcolor(main, bg);
			}
		}
		.ltm-emblem {
			filter: brightness(100);
		}
		.hero .main-content h1::selection {
			-webkit-text-stroke: 5px setcolor(main, bg);
		}
	}
	&.theme2 {
		@include theme(p5);
		h1, h2, h3, h4, h5, h6, p,
		.about .copy-container .social-outbound ul li a{
			color: setcolor(p5, fg);
			svg {
				fill: setcolor(p5, fg);
			}
		}
		a {
			color: $bg;
		}
		.hero .main-content h1::selection {
			-webkit-text-stroke: 5px setcolor(p5, fg);
		}
	}
	&.theme3 {
		@include theme(p7);
		h1, h2, h3, h4, h5, h6, p,
		.about .copy-container .social-outbound ul li a {
			color: setcolor(p7, fg);
			svg {
				fill: setcolor(p7, fg);
			}
		}
		a {
			color: $red;
		}
		.hero .main-content h1::selection {
			-webkit-text-stroke: 5px setcolor(p7, fg);
		}
	}
}
* {
	box-sizing: border-box;
}
::selection {
	@include theme(main, inverted);
}
@include constants;
@include emblem;
.hllwn-ghost {
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin-right: .2em;
	opacity: 0;
	path {
		fill: #ccc;
	}
}
.hero {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	&-corner {
		display: inline-block;
		&:hover {
			.hero-corner-theme {
				transform: translateX(0);
			}
		}
		.ltm-emblem {
			margin: 2em;
		}
		&-theme {
			$spacing: calc(-100% - 2em);
			display: block;
			margin: 2em;
			width: 2.3em;
			margin-top: 0;
			transform: translatex(#{$spacing});
			@include transition;
			.swatch {
				position: relative;
				cursor: pointer;
				display: block;
				width: 2em;
				height: 2em;
				margin: 1em 0;
				border-radius: 50%;
				background-color: #ccc;
				box-shadow: inset 0 0 0 .2em rgba(#fff, .3);
				@include transition;
				transform: scale(1);
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					right: 100%;
					transform: translatey(-50%);
					border-color: transparent transparent transparent #ccc;
					border-width: .5em;
					border-style: solid;
					opacity: 0;
				}
				&:hover {
					transform: scale(1.1);
					&:before {
						opacity: .54;
					}
				}
				&.current {
					&:before {
						opacity: 1;
					}
				}
				&:nth-child(1) {
					background-color: setcolor(main, bg);
					box-shadow: inset 0 0 0 .2em rgba(setcolor(main, fg), .3);
					&.current {
						&:before {
							border-color: transparent transparent transparent setcolor(main, fg);
						}
					}
				}
				&:nth-child(2) {
					background-color: setcolor(main, fg);
					box-shadow: inset 0 0 0 .2em rgba(setcolor(main, bg), .3);
					&.current {
						&:before {
							border-color: transparent transparent transparent setcolor(main, bg);
						}
					}
				}
				&:nth-child(3) {
					background-color: setcolor(p5, bg);
					box-shadow: inset 0 0 0 .2em rgba(setcolor(p5, fg), .3);
					
					&.current {
						&:before {
							border-color: transparent transparent transparent setcolor(p5, fg);
						}
					}
				}
				&:nth-child(4) {
					background-color: setcolor(p7, bg);
					box-shadow: inset 0 0 0 .2em rgba(setcolor(p7, fg), .3);
					&.current {
						&:before {
							border-color: transparent transparent transparent setcolor(p7, fg);
						}
					}
				}
			}
		}
	}
	.main-content {
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translate(-1.2em, 0.5em);
		user-select: none;
		cursor: default;
		@include transition;
		&.fade {
			opacity: 0.07;
		}
		h1 {
			margin: 0;
			font-size: 9em;
			user-select: auto;
			&::selection {
				background: none;
				color: transparent;
				-webkit-text-stroke: 5px setcolor(main, fg);
			}
		}
	}
}
.about {
	margin-top: 100vh;
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@include transition;
	.copy-container {
		padding: 2em;
		width: 60%;
		.social-outbound {
			margin-top: 1em;
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				width: 100%;
				display: flex;
				justify-content: space-between;
				li {
					cursor: pointer;
					position: relative;
					width: (100 / 3) * 1%;
					padding: 0;
					display: inline-block;
					text-align: center;
					transform: translatey(0);
					@include transition;
					&:hover {
						transform: translatey(-5px);
						transition-delay: 0;
						a {
							@each $color in $social {
								&[class*="#{$color}"] {
									@if $color == vsco {
										svg {
											fill: map-get($links, vsco);
										}
									} 
									color: map-get($links, #{$color});
								}
							}
						}
					}
					@for $i from 1 through 6 {
						&:nth-child(#{$i}) {
							transition-delay: (50 * $i) * 1ms;
						}
					}
					a {
						color: map-get($colors, text);
						font-size: 2em;
						svg {
							width: 1em;
							height: 1em;
						}
					}
				}
			}
		}
		.footer {
			text-align: right;
			font-family: 'Inconsolata', monospace;
			margin-top: 1.5em;
			font-size: 0.85em;
		}
	}
}
.message-form {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	padding: 1em;
	visibility: hidden;
	opacity: 0;
	@include transition;
	&.open {
		visibility: visible;
		opacity: 1;
	}
	div,
	span {
		width: 50%;
	}
	span {
		display: inline-block;
		margin-top: 1em;
		cursor: pointer;
		text-align: center;
		font-family: 'Inconsolata', monospace;
		color: map-get($colors, primary);
	}
}

// +mobile
@media screen and (max-width: 786px) {
	.hero {
		&-corner {
			&:hover {
				.hero-corner-theme {
					&:after {
						opacity: 0;
					}
				}
			}
			&-theme {
				position: relative;
				vertical-align: top;
				margin: 0;
				padding: 0;
				width: 3em;
				// background-color: setcolor(main, bg);
				// border: 2px solid setcolor(main, fg);
				&:after {
					content: "\f054";
					position: absolute;
					top: 0;
					left: 150%;
					margin-left: .5em;
					font-family: FontAwesome;
					font-size: 2em;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					color: inherit;
					@include transition;
					opacity: .34;
				}
				.swatch {
					border-radius: 0 1em 1em 0;
					transform-origin: center;
					transform: translatex(-.3em);
					&:hover{
						&:before {
							left: 0;
							transform: translatey(-50%) scale(.9);
						}
					}
					&:before {
						left: .1em;
						right: unset;
					}
					svg {
						width: 28px !important;
						height: 14px !important;
						left: 0;
						right: unset;
						transform-origin: center;
					}
				}
			}
		}
	}
	.about {
		align-items: flex-start;
		padding-top: 5em;
		.copy-container {
			width: 100%;
			.social-outbound {
				ul {
					flex-wrap: wrap;
					li {
						height: 5em;
						line-height: 5em;
						padding-top: 3px;
						a {
							position: relative;
							&:after {
								content: attr(title);
								position: absolute;
								top: 100%;
								left: 50%;
								transform: translatex(-50%);
								display: inline-block;
								font-family: 'Inconsolata', monospace;
								font-size: 0.6em;
								margin-top: 0.12em;
							}
							svg {
								margin-top: 13px;
							}
						}
					}
				}
			}
			.footer {
				text-align: center;
			}
		}
	}
	.message-form {
		padding-top: 7em;
		justify-content: flex-start;
		span, div {
			width: 100%;
		}
	}
}
@media screen and (max-width: 562px) {
	.hero {
		.main-content {
			h1 {
				font-size: 7em
			}
		}
	}
}
